.password-reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #eeebeb;
}

.password-reset__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-top: 10%;
    padding: 30px;
    border-radius: 20px;
    border: solid 1px #83a197;
}

.password-reset__title{
    font-size: 2rem;
    font-weight: 700;
}

.password-reset__textbox{
    
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.password-reset__btn{
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: pink;
}

.password-reset__btn:hover{
    background-color: #83a197;
    transition: all 0.3s;
    border: 1px solid black;
    color: pink;
    font-weight: 800;
}

@media screen and (max-width: 700px) {
    .password-reset__container{
        width: 60%;
    }
    
}

@media screen and (max-width: 500px) {
    .password-reset__container{
        width: 70%;
    }       

    .password-reset__title{
        font-size: 1.5rem;
    }

    .password-reset__textbox{
        font-size: 14px;
    }


    
}