.aboutus-cointainer{
    text-align: center;
    font-size: 2rem; 
    line-height: 1.2;
    padding: 1.25rem; 
    font-family: Clarkson, Avenir Next, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #eeebeb;

  }
  
  .aboutus,.h2 {
    text-align: center;
    margin-top: 10%;
  }
  
  .daniella-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
   
    
  }
  
  .daniella-img {
    width: 30%; 
    height: 15%; 
    border-radius: 10%; 
    margin-left: 15%;
    max-width: 100%;
    height: auto;
  }
  
  .daniella-info {
    text-align: left;
    margin-left: 3%;
  }
  
  .clinic-history {
    margin-top: 2.5rem; 
    text-align: center;
    font-size: 2rem; 
    line-height: 1.2;
    padding: 1.25rem;
    font-family: Clarkson, Avenir Next, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   
  }
  .feedbacks{
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .feedback-container {
    margin: 0 0.625rem;
    border-radius: 50%;
    border: 2% solid white;
    overflow: hidden;
  }

  .feedback-img {
    width: 100%; 
    height: auto; 

  }
 
  .img-massage {
    width: 100%;
    text-align: center; 
    position: relative;
    color: white;
}

.text-container {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
}
.massage-img {
    width: 60%; 
    max-width: 400px; 
    height: auto;
    border-radius: 20%;
    margin-top: 10%;
}

.massage-text {
    font-size: 2rem; 
}

.agende-button {
    border-radius: 20px; 
    background-color: #e9d0db;
    font-size: 1.5rem;
    padding: 10px 20px; 
    margin-top: 20px; 
   
}

.agende-button:hover{
  background-color: white ;

}

  @media screen and (max-width: 768px) {
    .aboutus-cointainer, .clinic-history {
        font-size: 1.5rem;
        margin-top: 5%;
    }

    .daniella-img {
        width: 50%;
        height: auto;
        margin-left: 0;
    }

    .feedback-img {
        max-width: 300px; 
        height: auto; 
    }
    
    .massage-text {
      font-size: 1.5rem; 
  }

  .agende-button {
      font-size: 1.2rem; 
  }
}


@media screen and (max-width: 500px) {
  .aboutus-cointainer, .clinic-history {
      font-size: 1rem;
      margin-top:0%;
    }
     
  .aboutus,.h2 {
    text-align: center;
    margin-top: 20%;
  }

  .daniella-img {
    width: 50%;
    height: auto;
    margin-left: 0;
  }

  .feedback-img {
    max-width: 200px; 
    height: auto; 
  }
 
  .massage-text {
    font-size: 1.5rem; 
}

.agende-button {
    font-size: 1.2rem; 
}
}
  
  
  