.signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeebeb; 
}

.signup__title {
  text-align: center;
  align-self: center;
  color: pink;
  font-weight: 700;
}

.signup__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #83a197;
  padding: 30px;
  border-radius: 20px;
}
.signup__textbox {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.signup__btn {
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: pink;
}

.signup__btn:hover {
  background-color: #83a197;
  transition: all 0.3s;
  border: 1px solid pink;
  color: pink;
  font-weight: 800;
}
